{% extends 'khneu_pub_app/base.html' %}

{% block content %}
<div class="about-container">
    <h2>Призначення програмного продукту</h2>
    <p>Призначення програмного продукту “KhneuPub” полягає в тому, щоб надати єдину платформу для всього університету, що дає змогу ділитися та керувати публікаціями студентів різних факультетів і спеціальностей.</p>
    <h2>Використання програмного продукту</h2>
    <h3>Реєстрація</h3>
    <ol>
        <li>Для створення нового акаунту перейдіть на сторінку реєстрації (з'являється на головній сторінці для не авторизованих користувачів).</li>
        <li>Введіть свою актуальну інформацію у формі реєстрації.</li>
        <li>Натисніть кнопку "створити".</li>
    </ol>
    <h3>Авторизація</h3>
    <ol>
        <li>Після реєстрації користувач буде перенаправлений на сторінку авторизації.</li>
        <li>Введіть свої діючі логін (електронна пошта) і пароль у відповідні поля форми.</li>
        <li>Натисніть кнопку "Увійти".</li>
    </ol>

    <h3>Створення публікації</h3>
    <ol>
        <li>Для створення статті можна натиснути на кнопку "Створити" у правому верхньому кутку сторінки.</li>
        <li>Також користувач може створити статтю, перебуваючи в особистому кабінеті (для переходу в особистий кабінет натисніть на кнопку "Кабінет" у правому верхньому кутку сторінки). Для цього натисніть кнопку "Створити", перебуваючи в особистому кабінеті. </li>
        <li>після створення публікації користувач може відредагувати її, натиснувши на відповідну кнопку внизу статті.</li>
        <li>також автор статті може видалити статтю, натиснувши на відповідну кнопку внизу статті.</li>
        <li>На сторінці створення публікації користувач має заповнити такі поля як назва, дисципліна, до якої належить стаття, опис, основний контент статті та обкладанку статті(для відображення в списку публікацій).</li>
        <li>Користувач може редагувати текст опису й основного контенту статті 
            У верхній частині цих полів знаходиться панель різних інструментів, таких як стиль тексту, формат тексту, жирний текст, курсив.
            Користувач також може додавати зображення, таблиці, спеціальні символи.</li>
        <li>після завершення написання статті натисніть кнопку "Опублікувати" наприкінці сторінки.</li>
    </ol>


    <h3>Перегляд публікацій</h3>
    <ol>
        <li>Для того, щоб переглянути публікацію, користувач повинен вибрати факультет, який його цікавить, а потім спеціальність, і перед користувачем відкриється повний список статей, написаних для обраної спеціальності, і тепер користувач може відкрити статтю і вивчити її. Після вивчення статті користувач може додати статтю в вподобане.</li>
        <li>ви можете знайти конкретну статтю в рядку пошуку, що розміщений у верхній частині сторінки. введіть назву статті або фрагмент назви в пошуковому рядку і натисніть "Шукати".</li>
    </ol>


    <h3>Особистий кабінет</h3>
    <ol>
        <li>Для того, щоб перейти в особистий кабінет натисніть кнопку "Кабінет" у правому верхньому кутку сторінки. Тут відображається вся інформація облікового запису, вкладка з вподобаними статтями і списком написаних вами статтею. Для переходу до вподобаних статей або до написаних Вами натисніть на відповідні кнопки.</li>
        <li>також ви можете відредагувати інформацію про себе, натиснувши на відповідну кнопку і заповнивши форму. У цій же формі Ви можете встановити свою фотографію.</li>
    </ol>

    <h3>Список студентів</h3>
    <ol>
        <li>Щоб переглянути список зареєстрованих студентів, натисніть на кнопку «Студенти» в меню зліва. Ось повний список студентів. Фільтрувати студентів можна за спеціальністю, за якою вони навчаються. Для цього виберіть потрібну спеціальність зі списку, що випадає, і натисніть кнопку «Пошук».</li>
        <li>Для доступу до профілю користувача натисніть «Відкрити профіль».</li>
    </ol>

    <h3>Контакти</h3>
    <ol>
        <li>щоб побачити контактну інформацію розробників сайту і отримати технічну підтримку перейдіть на вкладку «Контакти» в меню зліва.</li>
    </ol>

    <h3>Спеціальності</h3>
    <ol>
        <li>Переглянути список всіх існуючих спеціальностей можна перейшовши на відповідну вкладку зліва.</li>
        <li>Там ви можете відкрити будь-яку спеціальність і переглянути список статей, написаних для неї.</li>
    </ol>

    <h3>Вихід</h3>
    <ol>
        <li>Щоб вийти з облікового запису, натисніть кнопку «Вийти» внизу бічного меню. Ви будете перенаправлені на сторінку авторизації.</li>
    </ol>

    <h3>Головна</h3>
    <ol>
        <li>Щоб перейти на головну сторінку з будь-якої точки сайту, натисніть на кнопку «Головна» в лівому меню.</li>
    </ol>

    <h3>Для адміністраторів</h3>
    <ol>
        <li>Якщо у вас є статус адміністратора, ви можете перейти за посиланням і потрапити в адміністративну панель. Тут ви можете керувати факультетами та спеціальностями (створювати, редагувати, видаляти), статтями (створювати, редагувати, видаляти), інформацією про студентів (створювати, редагувати, видаляти) та списками вподобаного.</li>
        <li>Відповідні вкладки розташовані в лівій частині панелі. Коли ви відкриєте їх, ви побачите список всіх елементів обранної вкладки.</li>
    </ol>
</div>
{% endblock %}