{% extends 'khneu_pub_app/base.html' %}


{% block content %}
    <div class="article-container">
        <div class="article-content-wrapper">
            <h1 class="article-title">{{ article.name }}</h1>
            <div class="article-photo">
                <img src="{{ article.image.url }}" alt="{{ article.name }}">
            </div>
            <div class="article-meta">
                <p>Created by: {{ article.created_by }} | {{ article.upload_date }}</p>
            </div>
            <div class="article-content">
                <h2>Description</h2>
                {{ article.description|safe }}
                {{ article.content|safe }}
            </div>
        </div>
        <div class="article-buttons">
            {%if is_favorited%}
                <a href="{% url 'add_to_favorite' article.slug %}" class="article-button is-favorited-button">Remove from Favorites</a>
            {%else%}
                <a href="{% url 'add_to_favorite' article.slug %}" class="article-button">Add to Favorites</a>
            {%endif%}
            <a class="article-button">Редагувати</a>
            <a class="article-button">Видалити</a>
        </div>
    </div>
{% endblock %}