{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link type="text/css" href="{% static 'khneu_pub_app/css/styles.css' %}" rel="stylesheet">
</head>
<body>
    <div class="top-bar">
        <div class="top-bar-inner">
            <div class="search-field-container">
                <form role="search" method="POST" action="{%url 'search'%}">
                    {%csrf_token%}
                    <input 
                        type="search"
                        placeholder="Search"
                        name ="search_query"
                        required
                        aria-label="Search"
                        class="search-field">
                    <button type="submit" class="search-button">Шукати</button>
                </form>
                
            </div>
            <div class="top-bar-links">
                <a href="{%url 'create_article'%}">Створити</a>
                <a href="{%url 'about'%}">Кабінет</a>
            </div>
        </div>
    </div>
    <div class="sidebar-and-content">
        <div class="side-bar">
            <img src="">
            <ul>
                <li><a href="{%url 'home'%}">Головна</a></li>
                <li><a href="{%url 'students'%}">Студенти</a></li>
                <li><a href="{%url 'teachers'%}">Викладачі</a></li>
                <li><a href="{%url 'home'%}">Факультети</a></li>
                <li><a href="{%url 'specs'%}">Спеціальності</a></li>
                <li><a href="{%url 'contacts'%}">Контакти</a></li>
                <li><a href="{%url 'about'%}">Докладніше</a></li>
            </ul>
        </div>
        <div class="main-content">
            {%block content%}
            {%endblock content%}
        </div>
    </div>
</body>
</html>