{%extends 'khneu_pub_app/base.html'%}
{%block content%}
    <div class="user-profile-container">
        <div class="user-profile-content">
            <h2>Розробник 1</h2>
            <h1>Данило Махмудов</h1>
            <p>email:Danylo.Makhmudov@hneu.net</p>
            <p>telegram:@makhmudovdanil</p>
            <br>
            <h2>Розробник 2</h2>
            <h1>Єва Науменко</h1>
            <p>email:Yeva.Naumenko@hneu.net</p>
            <p>telegram:@naumenko_eva</p>            
        </div>
    </div>
{%endblock content%}