{% extends 'khneu_pub_app/base.html' %}

{% block content %}
    <div class="article-delete-container">
        <h2 class="confirmation-message">Ви впевнені,що хочете видалити публікацію "{{ article.name }}"?</h2>
        <form method="post" class="delete-form">
            {% csrf_token %}
            <button type="submit" class="delete-button">Yes, delete</button>
            <a href="{% url 'article' slug=article.slug %}" class="cancel-link">No, cancel</a>
        </form>
    </div>
{% endblock content %}