{% extends 'khneu_pub_app/base.html' %}

{% block content %}
    <div class="article-creation-container">
        <form class="article-form" method="post" enctype="multipart/form-data">

            {% csrf_token %}

            <div class="form-group">
                <label class="article-creation-field-label" for="{{ form.name.id_for_label }}">Введіть назву публікації:</label>
                {{ form.name }}
            </div>

            <div class="form-group">
                <label class="article-creation-field-label" for="{{ form.specialization.id_for_label }}">Оберіть дисципліну:</label>
                {{ form.specialization }}
            </div>

            <div class="form-group">
                <label class="article-creation-field-label" for="{{ form.description.id_for_label }}">Введіть опис публікації:</label>
                {{ form.media }}
                {{ form.description }}
                {{form.errors.description}}
            </div>

            <div class="form-group">
                <label class="article-creation-field-label" for="{{ form.content.id_for_label }}">Введіть основний зміст публікації:</label>
                {{ form.media }}
                {{ form.content }}
                {{form.errors.content}}
            </div>

            <div class="form-group">
                <label class="article-creation-field-label" for="{{ form.image.id_for_label }}">Оберіть обкладанку:</label>
                {{ form.image }}
                {{form.errors.image}}
            </div>

            <button class="article-creation-submit-button" type="submit">Опублікувати</button>
        </form>
    </div>
{% endblock content %}