* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

body {
    display: flex;
    background-color: #eeeeee;
    flex-direction: column;
    font-family: Arial, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

.top-bar {
    background-color: #FFFFFF;
    padding: 10px;
    height: 50px;
}

.top-bar-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;  /* Center items vertically */
    height: 100%;  /* Ensure top bar takes full height */
    padding: 0 20px; /* Optional: Add some padding to the sides */
}

.search-field-container {
    display: flex;
    align-items: center;
    justify-content: center; /* Center the content horizontally */
    flex-grow: 1; /* Grow to fill available space */
}

.search-field {
    background-color: #fff;
    border: 2px solid #1F7A8C;
    padding: 9px;
    width: 450px;
    margin-left:250px;
    border-radius: 50px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.search-field:focus {
    outline: none;
    border-color: #4682A9;
    box-shadow: 0 0 10px rgba(31, 122, 140, 0.5);
}
.search-button {
    display: inline-block;
    padding: 9px 18px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #4682A9;
    color: #4682A9;
    background-color: #fff;
    border-radius: 7px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  }
  
  /* Hover effect */
  .search-button:hover {
    background-color: #3498db;
    color: #fff;
    border-color: #fff;
  }

.top-bar-links {
    display: flex;
    align-items: center;
}

.top-bar-links a {
    margin-left: 15px;
    padding: 8px;
    border-radius: 5px;
    background-color: #1F7A8C;
    color: #FFFFFF;
    transition: background-color 0.3s ease;
}

.top-bar-links a:hover {
    background-color: #4682A9;
}

.sidebar-and-content {
    color: #F6F4EB;
    display: flex;
    flex: 1;
}

.side-bar {
    background-color: #022B3A;
    width: 350px;
    padding: 20px;
}

.side-bar ul {
    list-style: none;
    margin-top: 30px;
    margin-left: 20px;
}

.side-bar ul li {
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 20px;
}

.main-content {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    color: #000000;
}


.sections_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
}

.sections{
    height: 300px;  /*412.5 495px */
    width: 375px;  /*329px*/
    background-color: #1F7A8C;
    color: #F6F4EB;
    border-radius: 25px;
    overflow: hidden;
    object-fit: cover;
    font-size: 17px;
    text-align: center;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sections img{
    height: 185.5px; /*222.5 267px*/
    width: 375px; /*395 475px*/
}



.article-container {
    margin: 20px;
}

.article-content-wrapper {
    background-color: white;
    border-radius: 15px;
    margin: 20px;
    padding: 20px;
    max-height: 750px;  
    overflow-y: auto;   /* Enable vertical scrolling if content exceeds the max height */
    
}

.article-container h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.article-photo {
    text-align: center; /* Center the photo */
    margin-bottom: 20px;
}

.article-photo img {
    max-width: 100%;
    height: auto;
    width: 637px;
    height: 358px;
}

.article-meta {
    margin-bottom: 20px;
}

.article-meta p {
    color: #888;
    margin-left: 20px; /* Add left margin for the "Created by" and date */
}
.article-content p {
    padding: 5px;
}

.article-content h3 {
    font-size: 20px;
    margin-top: 20px;
}

.article-content {
    margin-top: 20px;
    text-align: left;
}

.center{
    text-align: center;
}

.article-buttons {
    text-align: center;
    margin-top: 20px;
}

.article-buttons button {
    margin: 0 10px; /* Adjust the horizontal spacing between buttons */
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #1F7A8C;
    color: #fff;
    transition: background-color 0.3s ease;
    width: 175px;
}

.article-buttons button:hover {
    background-color: #4682A9;
}



/* Pagination */
  /* Pagination Container */
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  /* Pagination Links */
  .pagination a {
    color: #007bff;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #007bff;
    border-radius: 3px;
    margin: 0 3px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .pagination a:hover {
    background-color: #007bff;
    color: white;
  }
  
  /* Ellipsis */
  .ellipsis {
    margin: 0 3px;
  }
  
  /* Active Page */
  .pagination .active {
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
    margin: 0 3px;
  }
  
  /* Previous and Next Links */
  .pagination .previous-link , .pagination .next-link {
    margin: 0;
  }
